exportPattern("^[[:alpha:]]+")
import(methods)
import(limma)
import(DMRcatedata)
import(Gviz)
import(GenomicRanges)
import(parallel)
import(minfi)
import(DSS)
import(IRanges)
importFrom("plyr",rbind.fill)
importFrom("graphics",plot)
export(dmrcate)
exportMethods(
	cpg.annotate, 
	rmSNPandCH, 
	DMR.plot,
	extractRanges
	)

