exportPattern("^[[:alpha:]]+")
import(methods)
import(limma)
import(minfi)
import(DMRcatedata)
importFrom("graphics",plot)
exportMethods(
	annotate, 
	rmSNPandCH, 
	dmrcate, 
	makeBedgraphs, 
	DMR.plot,
	extractRanges
	) 

